name: Build and Release Burp Plugin

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write # 确保有权限上传 Release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '21' # 确认 Java 版本是否合适
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: mvn clean package -DskipTests 
        # 如果需要跳过测试，可以加上 -DskipTests

      - name: Extract version from tag
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ steps.get_version.outputs.VERSION }}
          draft: false
          prerelease: false
          files: target/*.jar # 修改为正确的 Jar 路径
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # 添加 GitHub token
